server:
  port: 8003
spring:
  application:
    name: provider
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/world?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: buxiangai3
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: edu.neu.springcloud.provider.domain

logging:
  level:
    root: INFO
eureka:
  client:
    service-url:
      defaultZone: http://eureka:7001/eureka/,http://eureka2:7002/eureka/,http://eureka3:7003/eureka/
  instance:
    instance-id: provider-3
    prefer-ip-address: true
info.app.name: provider
info.company.name: edu.neu
info.author.name: xmh

